.topNavBar {
  list-style-type: none;
  width: 100%;
  height: 42px;
  padding-left: 298px;
  border-bottom: 2px solid #ba000c;
}
.topNavBar ul {
  padding: 0;
}

.topNavBar a {
  display: block;
  height: 44px;
  padding: 0 2%;
  color: #555;
  font-weight: bold;
  font-size: medium;
  float: left;
  text-align: center;
}

/* When menu is hovered and focused*/
.topNavBar ul li a:hover,
.topNavBar ul li a:focus {
  color: #ffffff;
  background: #ba000c;
}
.topNavBar ul li div {
  display: block;
  height: 44px;
  padding: 0 2%;
  color: #555;
  font-weight: bold;
  font-size: 14px;
  line-height: 44px;
  color: white;
  background: #ba000c;
}

.bottomNav {
  font-size: smaller;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ededed;
  width: 100%;
}

.bottomNavElement {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  float: left;
  color: #1e1f1f;
  text-align: center;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #acafaf;
}

.bottomNavActive {
  background-color: #00205b;
  color: white;
}

.dataTable {
  border-collapse: collapse;
  border: 2px solid gray;
}

.dataTable th {
  padding: 5px;
  background-color: #eeeeee;
  border: 1px solid gray;
  text-align: center;
}
.dataTable td {
  padding: 5px;
  border: 1px solid gray;
}

th,
td {
  margin: 1%;
}

div {
  padding: 3px;
}

select {
  padding: auto;
  margin: 1%;
}
