<!-- 아이디 반환 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>찾으신 학번</title>
    <link rel="stylesheet" href="./css/findUser.css">
    <script src="/javascripts/findId.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>아이디(학번) 찾기</h2>
        <div class="container" style="background:rgb(145, 184, 205)">
            <span>이름(Name):</span><span id ="findIdName"style="margin-left:120px">홍길동</span><br>
            <span>학번(StudentNumber):</span><span id="findIdNumber" style="margin-left:50px">12345678</span>
        </div>
        <h5>학번 찾기 안내</h6>
        <p class ="describe">- 학부생 : 학사지원팀(02-970-7175)</p>
        <p class ="describe">- 대학원생 : 해당대학원 행정실(02--970-6799)</p>
        <p class ="describe">- 신편입생 초기비밀번호는 생년월일 6자리입니다.</p>
        <button id="closeFindUser">닫기</button>
    </div>
</body>
</html>